#segment-footer>.container {
	background-color: #ad1f2f;
}

.navbar-inverse {
	background-color: #ad1f2f;
}

.navbar-inverse .navbar-nav>li>a:hover {
	background-color: #790713;
}

#family-nav {
	line-height: 50px;
	float: right;
	margin-top: 4px;
	color: #808080;
}

#family-logo {
	float: right;
	margin-left: 6px;
}

pre.json {
	border: 1px solid #dcdcdc;
	font-size: 11px;
	background: #EFFFEF;
	padding: 5px;
	width: 100%;
}

pre.rdf {
	border: 1px solid #dcdcdc;
	font-size: 11px;
	background: #fdedff;
	padding: 5px;
	width: 100%;
	overflow: auto;
}

pre.fhirpath {
	border: 1px solid #dcdcdc;
	font-size: 11px;
	background: #ffeafb;
	padding: 5px;
	width: 100%;
}

pre.graphql {
	border: 1px solid #dcdcdc;
	font-size: 11px;
	background: #f7e6ff;
	padding: 5px;
	width: 100%;
}

pre.xml {
	font-family: 'Courier New';
	font-size: 9pt;
	padding: 2px;
	background: #F0FFFF;
	width: 100%;
}

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-size: 0.95em;
	text-align: left;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	white-space: break-spaces;
}

th.hierarchy:has(a[title*="Minimum and Maximum"]) {
	width: 50px !important;
}

:root {
	--stu-note-background-color: #fff2ff;
	--stu-note-border-left-color: #ffa0ff;
	--contributors-note-background-color: #f2f2ff;
	--contributors-note-border-left-color: #a0a0ff;
}

.request-for-feedback::before {
	white-space: pre;
	content: "Request For Feedback\A";
	background: yellow;
	color: red;
	font-weight: bold;
}

.request-for-feedback {
	margin: 5px;
	padding: 10px;
	border-left-style: solid;
	background-color: var(--stu-note-background-color);
	border-left-color: var(--stu-note-border-left-color);
}

.note-to-contributors::before {
	white-space: pre;
	content: "Contributors\A";
	background: yellow;
	color: red;
	font-weight: bold;
}

.note-to-contributors {
	margin: 5px;
	padding: 10px;
	border-left-style: solid;
	background-color: var(--contributors-note-background-color);
	border-left-color: var(--contributors-note-border-left-color);
}

details.toggle-box-simple {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 0.3em 0.6em;
	background-color: #fdfdfd;
	margin: 0.5em 0;
	font-family: system-ui, sans-serif;
	/* font-size: 0.95em; */
}

details.toggle-box-minimal {
	display: inline-block;
	width: fit-content;
	border-left: 2px solid #ccc;
	padding-left: 0.5em;
	margin: 0.5em 0;
	/* font-size: 0.95em; */
  }

details.toggle-box {
	border: 1px solid #ccc;
	border-radius: 6px;
	padding: 0.75em 1em;
	background-color: #f8f9fa;
	margin: 1em 0;
	font-family: system-ui, sans-serif;
}

summary.toggle-summary {
	cursor: pointer;
	font-weight: 600;
	font-size: 1em;
	list-style: none;
	outline: none;
}

summary.toggle-summary::before {
	content: "▶ ";
	transition: transform 0.2s;
	display: inline-block;
}

details[open] summary.toggle-summary::before {
	content: "▼ ";
}

summary.toggle-summary-simple::before {
	content: "▸ ";
	transition: transform 0.2s;
	display: inline-block;
}

details[open] summary.toggle-summary-simple::before {
	content: "▾ ";
}

.toggle-content {
	margin-top: 1em;
	font-size: 0.95em;
	line-height: 1.6;
	color: #333;
}